body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

img {
    width: 120px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}